<section class="user-books">
    <h3 class="title">Прочитанные книги пользователя</h3>
    <div class="books">
        {{#each books}}
        <div class="book">

            <div class="book__item">
                <div class="book__cover-wrapper">
                    <div class="book__cover-wrapper--active">
                        <img src={{cover}} alt="pic"/>
                        <a href="#">
                            <div class="book__add">
                                <span class="glyphicon-plus"></span>
                                <span>Добавить книгу</span>
                                <span>на свою полку</span>
                            </div>
                        </a>
                    </div>

                    <div class="actions">
                        <a class="glyphicon glyphicon-asterisk" href="#"></a>
                        <a class="glyphicon glyphicon-ok" href="#"></a>
                        <a class="glyphicon glyphicon-heart" href="#"></a>
                        <a class="glyphicon glyphicon-book" href="#"></a>
                        <a class="glyphicon glyphicon-user" href="#"></a>
                    </div>
                </div>
                <div class="book__parametrs-wrap">
                    <span class="book__title">{{title}}</span>
                    <hr>
                    <div class="book__parametrs">
                        <ul>
                            {{#eachProperty parametrs}}
                                <li>
                                    <div class="key">{{key}}</div>
                                    <div class="value">{{this.value}}</div>
                                </li>
                            {{/eachProperty}}
                        </ul>
                    </div>
                    <div class="book__description overflowed">
                        {{description}}
                    </div>
                    <a class="preview pull-right">Развернуть</a>
                    <a class="fullview pull-right">Свернуть</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

